// responsive
@media (max-width: 1000px) {
  .lineCard {
    flex-direction: column;
    height: 100% !important;

    .cardInfos {
      width: 90% !important;
      height: 97% !important;
    }

    .cardInfos:hover {
      width: 92% !important;
      height: 100% !important;
      transition: 0.5s;
    }
  }
}
